.content {
  line-height: 2.4;
  font-size: 14px;

  .item {
    display: flex;

    & > div {
      &:first-child {
        width: 100px;
      }
    }
  }
}

.content-inner {
  width: 800px;
  //height: 1200px;
  margin: 0 0 0 300px;
  padding: 20px 40px 0 10px;
  //overflow: hidden;
  border: 2px solid #a3a3a3;
}

.radio-group {
  //position: absolute;
  //left: 30%;
  //display: inline-block;
  margin: 20px 30px 30px 130px;
}

.confirm-button {
  display: inline-block;
  margin-left: 20px;
}


